.container {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  box-sizing: border-box;
  padding: 2rem;
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.form_container {
  display: flex;
  gap: 0.5rem;
}

.error {
  color: var(--color-red-600);
  font-size: var(--text-xs);
}

.private_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio_box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.radio_label {
  position: relative;
  top: 2px;
}

.user_name_box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
}

.user_name {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: var(--radius-lg);
  background-color: var(--color-indigo-200);
}

.name {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  margin-right: 0.25rem;
}