.container {
  width: 40rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  box-sizing: border-box;
  padding: 2rem;
}

.map_container {
  height: 30rem;

  overflow: hidden;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.input {
  width: 30rem;
  margin-top: 0.5rem;

  border: 1px solid var(--color-gray-300);
  outline: none;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: "42dot Sans", serif;
}

.input::placeholder {
  color: var(--color-gray-400);
}

@media screen and (max-width: 500px) {
  .container {
    width: 30rem;
  }

  .input {
    width: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 25rem;
  }
}
