.container {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.continent_box {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.continent {
  width: 100%;

  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  cursor: pointer;

  border-radius: var(--radius-2xl);
  transition: background-color 0.2s ease;
}

.check_box {
  position: absolute;

  top: -8px;
  right: -8px;
  font-size: var(--text-3xl);

  z-index: 1;
}

.cont_img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: var(--radius-2xl);
  transition: opacity 0.2s ease;
}

.cont_img_placeholder {
  border-radius: var(--radius-2xl);
}

.cont_img.selected_img {
  opacity: 0.6;
}

.continent:hover .cont_img {
  opacity: 0.7;
}

.selected_text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: var(--color-text-dynamic);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0.5rem;
  font-size: var(--text-3xl);
  border-radius: var(--radius-md);
}

.hover_text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: var(--color-text-dynamic);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0.5rem;
  font-size: var(--text-3xl);
  border-radius: var(--radius-md);
  opacity: 0;
  transition: background-color 0.2s ease;
}

.continent:hover .hover_text {
  opacity: 1;
}

.button_box {
  width: 100%;

  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1024px) {
  .container {
    box-sizing: border-box;
    padding: 2rem;
  }

  .continent_box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .continent_box {
    grid-template-columns: repeat(1, 1fr);
  }
}
