.content {
  line-height: 1.5;
}

.content img {
  max-width: 100%;
  height: auto;
  padding: 1rem 0;
}

.content blockquote {
  padding: 1rem !important;
  background-color: var(--color-editor-blockquote-bg);
  border-left: 4px solid var(--color-editor-blockquote-border);
}

.content blockquote {
  background-color: var(--color-editor-blockquote-bg) !important;
  border-left: 4px solid var(--color-editor-blockquote-border) !important;
  padding: 1rem !important;
}

.content pre {
  background-color: var(--color-editor-pre-bg) !important;
  padding: 1rem !important;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.content h1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

.content h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.content h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
}
