.container {
  flex: 1;
  width: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);

  display: flex;
  gap: 1rem;
  align-items: center;
}

.content {
  flex: 1;
  width: 100%;
}

.content_header {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--text-md);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-board-bg);
  padding: 1rem 0;
}

.title {
  flex: 1;
  text-align: center;
}

.header_sub {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search_input {
  width: 20rem;
  position: relative;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  border-radius: var(--radius-4xl);
  border: 2px solid var(--color-gray-300);
  overflow: hidden;
}

.select {
  padding: 0.5rem;
  padding-left: 1rem;
  border: none;
  background-color: var(--color-bg-primary);
  color: var(--text-primary);
  font-family: "42dot Sans", serif;
}

.select:focus {
  outline: none;
}

.select option {
  color: var(--text-primary);
  background-color: var(--color-bg-primary);
}

.error_message {
  color: var(--color-red-500);
  font-size: var(--text-sm);
  padding-left: 0.5rem;
}

.search_btn {
  width: 6rem;
  height: 3rem;
  border: none;
  background-color: var(--color-search-button-bg);
  color: var(--text-primary);
}

.index,
.writer,
.date,
.recommend {
  width: 5rem;
  text-align: center;
}

.content_list {
  box-sizing: border-box;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
