.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  box-sizing: border-box;
  padding: 0 2rem;
  box-shadow: var(--shadow-md);
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
}

.pagination {
  display: flex;
  justify-content: center;
}
