.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  flex: 1;
  font-size: var(--text-lg);
}

.iconContainer {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.iconLink {
  transition: transform 0.2s ease-in-out;
  color: var(--color-text-dynamic);

  display: flex;
  align-items: center;
}

.iconLink:hover {
  transform: scale(1.3);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
