.container {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.forecast_card {
  flex: 1;

  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--color-gray-200);
  border-radius: var(--radius-lg);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forecast_img {
  width: 3rem;
  aspect-ratio: 1;
}

.forecast_text {
  color: var(--color-black);
}
