.embla {
  width: 100%;
  aspect-ratio: 26/9;
  min-height: 30rem;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.embla_viewport {
  overflow: hidden;
  position: relative;
}

.embla_container {
  display: flex;
}

.embla_slide {
  min-width: 0;
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
}

.embla_image {
  width: 100%;
  aspect-ratio: 26/9;
  min-height: 30rem;

  object-fit: cover;
  object-position: center;
}
