.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--breakpoint-lg);

  box-sizing: border-box;
}

@media screen and (max-width: 1320px) {
  .centered {
    padding: 0 1rem;
  }
}
