.empty {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: var(--breakpoint-lg);

  box-sizing: border-box;
}

@media screen and (max-width: 1320px) {
  .centered {
    padding: 0 1rem;
  }
}
