.flex_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub_title {
  color: var(--color-black);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.wrapper_city_card {
  cursor: pointer;
}

@media screen and (max-width: 1296px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
