.container {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.sort_btns {
  display: flex;
  gap: 0.5rem;
}

.data_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer {
  padding-top: 1rem;
  align-self: center;
}

.plan_container {
  box-sizing: border-box;
  padding: 1rem 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.header_title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title {
  position: relative;
  top: 4px;
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
}

.content_header {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--text-md);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-board-bg);
  padding: 1rem 0;
}

.community_title {
  flex: 1;
  text-align: center;
}

.index,
.writer,
.date,
.recommend {
  width: 5rem;
  text-align: center;
}
