.container {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  box-sizing: border-box;
  padding-top: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sort_btns {
  display: flex;
  gap: 0.5rem;
}

.data_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer {
  padding-top: 1rem;
  align-self: center;
}

.plan_container {
  box-sizing: border-box;
  padding: 1rem 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.header_title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.title {
  position: relative;
  top: 4px;
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  width: 100%;

  box-sizing: border-box;
  padding-top: 1rem;
}

.content_list {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.community_title {
  flex: 1;
  text-align: center;
}

.index,
.writer,
.date,
.recommend {
  width: 5rem;
  text-align: center;
}

.empty {
  min-height: 15rem;
}
