.form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  display: flex;
  gap: 0.5rem;
}

.email {
  display: flex;
  gap: 0.5rem;
}

.nickname {
  display: flex;
  gap: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
